<!DOCTYPE html>

<html>
<footer>
    <div class="text">
        &copy; 2024 - Лапы и хвост
        <p>Контактная информация: lapiihvost@gmail.com | +7 (999) 333-44-55</p>
    </div>
</footer>
</html>
