<!DOCTYPE html>
<html lang="en">
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3 text">
        <div class="container-fluid">
            <img class="logo" src="~/lib/Images/logo.jpg" />
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Catalog">Каталог</a>
                    </li>
                    <li>
                        <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Map">Карта</a>
                    </li>
                    <li>
                        <a class="nav-link text-light" asp-area="" asp-controller="Profile" asp-action="Profile">Профиль</a>
                    </li>
                    <li>
                        <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Cart">Корзина</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a class="nav-link text-light" asp-area="" asp-controller="CRUD" asp-action="AddProduct">Добавление продуктов</a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav ms-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <form asp-area="" asp-controller="Profile" asp-action="Logout" method="post">
                                <button type="submit" class="nav-link btn btn-link text-light">Выйти</button>
                            </form>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
</html>